.footerP {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.footerBasP {
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.realFooter {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px;
}

th {
    width: 33%;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.tdFooter {
    text-align: center;
}

.icnSocial {
    width: 30px;
    border-radius: 50%;
}

.disable {
    pointer-events: none;
    cursor: default;
    filter: contrast(30%);
}

.realFooter u {
    font-family: 'Oswald', sans-serif;
    color: white;
}

hr {
    border: 1px solid #1B363E;
}