h1 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
    font-family: 'Oswald', sans-serif;
    color: #8C0808;
    font-size: 60px;
}

.real {
    margin-left: auto;
    margin-right: auto;
}

.realTd img {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 4px solid #1B363E;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    filter: blur(0px);
}

.real .realTr {
    display: block;
    padding-bottom: 50px;
}

.realTd:hover img {
    filter: blur(3px);
    cursor: pointer;
}

.realTd {
    padding-left: 20px;
    padding-right: 20px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 16px;
}
  
.close:hover,
.close:focus {
    color: #aaaa;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    background-color: #eebc25;
}
  
/* Modal Body */
.modal-body {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
}

.modal-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-top: 25px;
}

.modal-vid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
  
/* Modal Footer */
.modal-footer {
    background-color: white;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
  
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #eebc25;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-footer p {
    padding-top: 16px;
    font-size: 14px;
}
  
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
} 