*{
    font-family: 'Mukta', sans-serif;
    margin: 0px;
    padding: 0px;
    color : #1B363E;
}

footer {
    background: #8C0808;
    margin-top: 30px;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -206px;
}

.footer, .push {
    height: 206px;
}

.degrade {
    background: linear-gradient(to right, #ffffff 70%, #eebc25 30%);
}

/*background: linear-gradient(to bottom right, #ffefbe 50%, #eebc25 50%);*/