*{
    font-family: 'Mukta', sans-serif;
    margin: 0px;
    padding: 0px;
    color : #1B363E;
}

footer {
    margin-top: 30px;
    margin-bottom: 20px;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -206px;
}

.footer, .push {
    height: 206px;
}

body {
    background-color: #D9D9D9;
}