.footerP {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
}

.footerBasP {
    font-size: 15px;
}

.realFooter {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px;
}

th {
    width: 33%;
    font-size: 22px;
}

.tdFooter {
    text-align: center;
}

.icnSocial {
    width: 30px;
    border-radius: 50%;
}

.disable {
    pointer-events: none;
    cursor: default;
    filter: contrast(30%);
}