*{
    background-color: #D9D9D9;
    font-family: 'Mukta', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #1B363E;
}

.real {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}

.realTd img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    max-width: 150%;
    max-height: 150%;
}

.real .realTr {
    display: block;
    padding-bottom: 20px;
}

.realTd:hover img {
    filter: drop-shadow(0 -6mm 4mm rgb(238, 199, 153));
    cursor: pointer;
}

.realTr {
    margin-top: 20px;
}

.realTd {
    padding-left: 20px;
    padding-right: 20px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: #eec699;
}
  
.close:hover,
.close:focus {
    color: #aaaa;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #eec699;
}
  
/* Modal Body */
.modal-body {
    padding: 2px 16px;
    background-color: #eec699;
}
  
/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #eec699;
}
  
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
} 